# 30 DAYS OF CODE

### P1 - ADD TWO NUMBERS

In [ ]:
 '''
def sum(a,b):
    return a+b
'''
n = int(input("enter the first number "))
m= int(input("enter the seciond number "))
add=n+m
print("sum of two numbers is",add)

### P2 - AREA OF CIRCLE

In [ ]:
'''
def area(r):
    return (3.14)*(r**2)
'''
radius = int (input("enter the radius of circle "))
area= (radius**2)*3.14
print("the area of cirlce with radius " ,radius, " is ",area)

### P3 - AREA OF POLYGONS (RECTANGLE & TRIANGELE )

In [3]:
"""
def rectangle(l,b):
    return l*b
def triangle(b,h):
    return .5*b*h
"""
print("select 1 for rectangle and 2 for triangle")
choice =int(input())
if choice == 1:
    lenght = int (input("enter the lenght "))
    width = int (input("enter the width "))
    print("the area is ",lenght*width)
    
elif choice ==2  :
    base  = int (input("enter the base  "))
    height  = int (input("enter the height "))
    print("the area is ",0.5*base*height)

select 1 for rectangle and 2 for triangle

 2
enter the base   45
enter the height  56

the area is  1260.0

### P3 - SALARY SLIP
#### BELOW GIVEN IS A SAMPLE OF SALARY SLIP


---------Salary Slip----------
Employee Id     :        123456
Name            :        KUSHAL
Designation     :        SDE
------------------------------
Leaves          :        5
Leaves Amount   :        166666.6666666667
------------------------------
Ta      Da      Hra     Ma
50000.0          60000.0         70000.0         3500
------------------------------
Gross Salary    :        1183500.0
Income Tax      :        50000.0
Net Salary      :        966833.3333333333
------------------------------

In [10]:

EMPID= int(input("enter the employee id"))
name= input("enter the name ")
DSG=input("enter the designation ")
BASIC=int(input("enter the basic salary "))
LEAVES=int(input("enter the amount of leaves "))

lamount=BASIC/30*LEAVES
ta=BASIC*5/100
da=BASIC*6/100
hra=BASIC*7/100
ma=3500
gross=BASIC+ta+da+hra+ma
itax=BASIC*5/100
net=gross-itax-lamount
print("---------Salary Slip----------")
print("EMPLOYEE ID   \t:", EMPID)
print("EMPLOYEE NAME \t:", name)
print("DESIGNATION   \t:", DSG)
print("------------------------------")
print("LEAVES        \t:", LEAVES)
print("LEAVES AMOUNT \t:", lamount)
print("------------------------------")
print("TA\tDA\tHRA\tMA")
print(ta,"\t",da,"\t",hra,"\t",ma)
print("------------------------------")
print("GROSS SALARY    :",gross)
print("INCOME TAX      :",itax)
print("NET  SALARY     :",net)

enter the employee id 4522
enter the name  vishal
enter the designation  sde
enter the basic salary  45000
enter the amount of leaves  5

---------Salary Slip----------
EMPLOYEE ID   	: 4522
EMPLOYEE NAME 	: vishal
DESIGNATION   	: sde
------------------------------
LEAVES        	: 5
LEAVES AMOUNT 	: 7500.0
------------------------------
TA	DA	HRA	MA
2250.0 	 2700.0 	 3150.0 	 3500
------------------------------
GROSS SALARY    : 56600.0
INCOME TAX      : 2250.0
NET  SALARY     : 46850.0

### P5 - SIMPLE INTREST

In [13]:
pamount=float(input("enter the principle amount "))
rate=float(input("enter the rate of intrest "))
time=int(input("enter the time period in years"))
print("the simple intrest is  :",pamount*rate*time)

enter the principle amount  45
enter the rate of intrest  10
enter the time period in years 5

the simple intrest is  : 2250.0

### P6 - EXPONENTIAL POWER

In [16]:
num=int(input("enter the number for its square and cube and value of its sqrt "))
print("square is :",num**2,"cube is :",num**3)
import math
print("sqrt is :",math.sqrt(num))

enter the number for its square and cube and value of its sqrt  45

square is : 2025 cube is : 91125
sqrt is : 6.708203932499369

### P7 - CELSIUS TO FARENHEITE AND REVERSE

In [28]:
print("WELCOME TO TEMPREATURE CONVERSION PANEL :")
print("-----------------------------------------")
print(" PRESS 1 FOR F TO C AND 2 FOR REVERSE   :")
choice=int(input())
if choice == 1:
    print("ENTER TEMP IN F :")
    t1=float(input())
    print("TEMPREATURE IN CELSIUS :",((t1-32)*((5/9))))
elif choice == 2:
    print("ENTER TEMP IN C :")
    T2=float(input())
    print("TEMPRETURE IN FAREHEITE :",((T2*(9/5)+32)))

WELCOME TO TEMPREATURE CONVERSION PANEL :
-----------------------------------------
 PRESS 1 FOR F TO C AND 2 FOR REVERSE   :

 1

ENTER TEMP IN F :

 45

TEMPREATURE IN CELSIUS : 7.222222222222222

### P8 - CALCULATOR

In [1]:
print("WELCOME TO THE CALCULATOR")
print("-------------------------")
print("---THE OPERATIONS LIST---")
print("---  PRESS 1 FOR SUM  ---")
print("---  PRESS 2 FOR MUL  ---")
print("---  PRESS 3 FOR SUB  ---")
choice=int(input())
num1=int(input("enter the first number :"))
num2=int(input("enter the first number :"))
if choice ==1:
    print("SUM IS :",num1+num2)
elif choice==2:
    print("PRODUCT IS :",num1*num2)
elif choice ==3 :
    print("SUB IS :",num1-num2)

WELCOME TO THE CALCULATOR
-------------------------
---THE OPERATIONS LIST---
---  PRESS 1 FOR SUM  ---
---  PRESS 2 FOR MUL  ---
---  PRESS 3 FOR SUB  ---

 3
enter the first number : 45
enter the first number : 25

SUB IS : 20